<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>First Web Application</title>
        <meta charset="UTF-8">
    </head>
    <body>
        Welcome <span th:text="${username}"/>!
        <br>
            <a href="/list-todos">Click here to manage your todo's</a>
    </body>
</html>
